<div class="loading" *ngIf="loading">
  <img src="../../assets/images/loader.gif" />

</div>

<ul id="favorites-list" *ngIf="favorites">
  <li *ngFor="let favorite of favorites" class="favorite-item">
    <div class="content-data">
      <h4>{{favorite.title}}</h4>
      <p class="url">{{favorite.url}}</p>
      <p class="buttons">
        <a href="{{favorite.url}}" target="_blank" class="btn btn-default">
          Go to marker
        </a>
        <a [routerLink]="['/marker', favorite._id]" class="btn btn-see">
          See
        </a>
        <a [routerLink]="['/edit-marker', favorite._id]" class="btn btn-edit">
          Edit
        </a>
        <a href="{{favorite.url}}" target="_blank" class="btn btn-delete">
          Delete
        </a>
    </p>
    </div>
  </li>
</ul>
